.image-icon {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.header-instagram-logo {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
.phone {
  padding-top: 70px;
  height: 650px;
  float: right;
  margin: 10px;
}

.body {
  background-color: #fafafa!important;
}

.container {
  margin-top: 20px;
}

.right-column {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 360px;
  height: auto;
  margin: 10px;
  padding: 20px;
}

.right-column-session {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 360px;
  height: auto;
  margin: 10px;
  padding: 20px;
  margin-top: 75px;
}

.instagram-logo {
  margin: 15px auto;
  height: 90px;
}

.info {
  font-weight: 600px;
  line-height: 20px;
  font-size: 16px;
}

.or {
  font-size: 13px!important;
  color: #999;
  font-weight: 600;
}

.or ::before {
  content: '';
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  top: 11px;
}

.or ::after {
  content: '';
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  bottom: 10px;
  left: 150px;
}

.form-group {
  margin-bottom: 6px!important;
}

.form-control {
  background: #fafafa!important;
  border: 1px solid #efefef!important;
  font-size: 12px;
}
.terms {
  line-height: 18px;
  font-size: 14px;
  color: #999;
  margin: 5px 20px;
}
.right-colum-login {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 360px;
  margin: 10px;
  padding: 20px;
}

.right-colum-login a:hover {
  text-decoration: none;
}
.right-colum-app{
  background: #fff;
  width: 360px;
  height: auto;
  margin: 15px;
  padding: none;
}

.bottom-column {
  background: #fff;
  width: 360px;
  height: auto;
  margin: 10px;
  padding: none;
}

.app-store {
  margin: 15px auto;
  height: 70px;
  width: 360px;
}

.list-inline-item {
  line-height: 18px;
  font-size: 12px;
  color: #999;
}

.footer-copyright {
  line-height: 18px;
  font-size: 12px;
  color: #999;
}
